.profileScreen {
  color: white;
  height: 100vh;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 14% 8% 2%;
  max-width: 800px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__body h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
  width: 100%;
}

.profileScreen__info .profileScreen__avatar {
  height: 6rem;
}

.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__details h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__plans {
  margin-top: 20px;
}

.profileScreen__plans h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Media Query */

@media (max-width: 750px) {
  .profileScreen__body {
    width: auto;
    padding: 8%;
    padding-top: 8rem;
  }

  .profileScreen__info .profileScreen__avatar {
    height: 3.5rem;
    margin-bottom: 10px;
  }
  .profileScreen__body h1 {
    font-size: 2.5rem;
  }
  .profileScreen__info {
    display: block;
  }
  .profileScreen__details {
    margin-left: 0;
  }
  .profileScreen__details h2 {
    padding: 10px 19px;
  }
}
