.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  /* height: 30px; */
  height: 3.8rem;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  /* background-color: #111; */
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
  cursor: pointer;
}
.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
  cursor: pointer;
}

@media (max-width: 750px) {
  .profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    /* padding: 8% 14% 8% 2%; */
    max-width: 800px;
    /* padding-left: 2%; */
  }
}
